.btn {
  color: $white;
  padding: 1rem;
  width: 100%;
  max-width: 18.2rem;
  white-space: nowrap;
  border: 1px solid transparent;
  cursor: pointer;
}
.btn-primary {
  background-color: $primary-color;
  transition: $transition;

  &:hover {
    background-color: transparent;
    border-color: $primary-color;
    color: $primary-color;
  }
}
.btn-secondary {
  background-color: $secondary-color;
  transition: $transition;

  &:hover {
    background-color: transparent;
    border-color: $secondary-color;
    color: $secondary-color;
  }
}
.btn-tertiary {
  background-color: $black;
  transition: $transition;

  &:hover {
    background-color: $primary-color;
  }
}
