* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-family: "Poppins", sans-serif;
}
*::selection {
  color: $primary-color;
  background-color: $secondary-color;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
