/* _typography.scss */

/* Heading styles */
%font_weight700 {
  font-weight: 700;
}

.heading-1 {
  font-size: 3.2rem;
  @extend %font_weight700;
}

.heading-2 {
  font-size: 2.4rem;
  @extend %font_weight700;
}

.heading-3 {
  font-size: 1.8rem;
  font-weight: 500;
}

/* Paragraph styles */
p {
  /* Default paragraph font size */
  font-size: 1.6rem;
}

p.font-xsmall {
  font-size: 1.2rem;
}

p.font-small {
  font-size: 1.4rem;
}

p.fontbig {
  font-size: 1.8rem;
}

p.font-xbig {
  font-size: 2rem;
}

p.font-xxbig {
  font-size: 4rem;
}

/* Button and link styles */
a,
button {
  font-size: 1.4rem;
}

a.fontbig,
button.fontbig {
  font-size: 1.6rem;
}
