.icon {
  transition: $transition;

  path {
    fill: black;
    transition: $transition;
  }

  &:hover {
    transform: scale(1.1) translateY(-2px);
    path {
      // fill: blue;
    }
  }
  &--profile {
    path {
      fill: none;
    }
  }
  &--cart {
    position: relative;
  }
}
