.header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding-block: 2rem 3rem;
  gap: 5rem;

  &__logo {
    display: flex;
  }

  &__nav {
    &-list {
      display: flex;
      align-items: center;
      gap: 3rem;
      height: 100%;
    }

    &-link {
      color: $black;
      transition: $transition-fast;

      &:hover {
        color: $primary-color;
      }
    }
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;

    &-icons {
      display: flex;
      align-items: center;
      gap: 2rem;
      height: 100%;
    }
  }
}
